In [1]:
#We’ve seen that n = 42 is legal. What about 42 = n?

In [2]:
42 = n

SyntaxError: can't assign to literal (<ipython-input-2-f0c37ed646fc>, line 1)

In [3]:
#It seems that the variable name has to come first in an assignment!

In [4]:
#How about x = y = 1?

In [5]:
ham = cheese = 42

In [6]:
print(ham)

42

In [7]:
print(cheese)

42

In [8]:
#Wow - it seems that this statement has assigned the value to both variable names, and this line is able to complete two assignations at once.

In [9]:
#In some languages every statement ends with a semi-colon, ;. What happens if you put a semi-colon at the end of a Python statement?

In [10]:
ham = 42;

In [11]:
print(ham)

42

In [12]:
print(2+2);

4

In [13]:
print(ham*3);

126

In [14]:
#The presence of a semi-colon doesn't seem to matter when making a statement!

In [15]:
#What if you put a period at the end of a statement?

In [16]:
print(ham*3).

SyntaxError: invalid syntax (<ipython-input-16-fd46f784714d>, line 1)

In [18]:
#Periods are not considered valid syntax for the end of a statement. I wonder why semi-colons are.

In [19]:
#In math notation you can multiply x and y like this: x y. What happens if you try that in Python?

In [20]:
ham cheese

SyntaxError: invalid syntax (<ipython-input-20-098e71d68030>, line 1)

In [21]:
print(ham cheese)

SyntaxError: invalid syntax (<ipython-input-21-d39468e8e6da>, line 1)

In [22]:
#They need a mathematical operator between them, such as *

In [23]:
print(ham*cheese)

1764

In [24]:
#The volume of a sphere with radius r is 4/3 π r3. What is the volume of a sphere with radius 5?

In [25]:
pi = 3.14159

In [27]:
v = (4/3)*pi*(5**3)

In [28]:
print(v)

523.5983333333332

In [29]:
#Suppose the cover price of a book is $24.95, but bookstores get a 40% discount. Shipping costs $3 for the first copy and 75 cents for each additional copy. What is the total wholesale cost for 60 copies?

In [30]:
#Defining variables

In [31]:
retail = 24.95

In [32]:
wholesale = retail*.6

In [40]:
#number of books

In [33]:
n = 60

In [41]:
#Cost of shipping for n books

In [35]:
shipcost = 3 + (.75*(n-1))

In [42]:
#Wholesale cost for n books

In [36]:
bookcost = wholesale * n

In [43]:
#Adding book cost and shipping cost

In [37]:
total = bookcost + shipcost

In [39]:
print(round(total, 2))

945.45

In [44]:
#If I leave my house at 6:52 am and run 1 mile at an easy pace (8:15 per mile), then 3 miles at tempo (7:12 per mile) and 1 mile at easy pace again, what time do I get home for breakfast?

In [85]:
start = ((6+(52/60))*60)

In [86]:
easy = 8 + (15/60)

In [87]:
tempo = 7 + (12/60)

In [88]:
duration = (easy*2) + (tempo*3)

In [89]:
#The run took 38 minutes and 6 seconds

In [90]:
print(duration)

38.1

In [91]:
finish = start + duration

In [92]:
print(finish)

450.1

In [93]:
end = finish/60

In [94]:
print(end)

7.501666666666667

In [95]:
#Return home was shortly after 7:30 AM - 7:30 and 6 seconds precisely.

In [96]:
#Syntax errors - I have encountered these fairly frequently
#They're essentially violations of the structure of the language - using valid elements in an incorrect way.

In [97]:
#Runtime errors I have encountered not at all - not surprising given their relative complexity.
#I would say that they're errors in execution that are "above" syntax, token, and semantic errors.

In [98]:
#Semantic errors - I have encountered a few of these in my mathematical calculations from the misplacement of parentheses
#They are the most insidious errors; your program works, just not in the way that you'd want it to. You've told the computer to do something else.